body {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  width: 520px;
  height: 520px;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 480px;
  height: 480px;
  background-color: plum;
}
